<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CRUD operation</title>
</head>
<body>
    <h2 class="text-center  p-2">CRUD OPERATION</h2>
    <div class="container">
    <form class="pt-5 pl-3"  method="post" <% if(data.title){ %>
      action="<%=`/upd/${data.title}`%>"
    <% } else{ %>  
      action="/write"
   <% } %>>
    <div class="mb-3 row">
        <label for="postName" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="postName" name="title" value="<%=data.title%>">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" id="description" name="description" value="<%=data.description%>">
        </div>
      </div><% if(data.title){ %>
        <button type="submit" class="btn btn-success m-5">Update posts</button>
              <% } else{ %>  
        <button type="submit" class="btn btn-primary m-5">Add posts</button>
     <% } %>
      
    </form>
    <!-- <form class="d-inline bg-warning p-4" method="post" action="<%=`/upd/${data.title}`%>"></form></td> -->

    <table class="table table-bordered mt-5 table-striped">
      <thead>
        <tr>
          <th scope="col">Sl. no</th>
          <th scope="col">Posts title</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% posts.forEach((pst,ind)=>{%>
        <tr>
          <th scope="row"><%=ind+1%></th>
          <td><%=pst.title%></td>
          <td><%=pst.description%></td>
          <td><form class="d-inline" action="<%=`/delete/${ind}`%>"><button type="submit" class="btn btn-danger">Delete</button></form>
            <form class="d-inline" action="<%=`/edit/${pst.title}`%>"><button type="submit" class="btn btn-info">Edit</button></form></td>
        </tr>
      <%})%>
      </tbody>
    </table>
</div>
</body>
</html>